<div class="card" style="width: 18rem;">
<!--  <img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <a href="<%= imports_path(Import.new)%>" class="btn btn-secondary btn-sm mb-4">
      <i class="fa fa-arrow-left"></i>
      Imports list
    </a>
    <h5 class="card-title">Import #<%= @import.id %></h5>
    <h6 class="card-subtitle mb-2 text-muted">status: <strong><%= @import.status %></strong></h6>
    <p class="card-text">customers in total:
      <span class="badge badge-warning"><%= @import.total_records_count || 0 %></span>
    </p>
    <p class="card-text">customers imported:
      <span class="badge badge-success"><%= @import.imported_records_count || 0 %></span>
    </p>
    <a href="" class="btn btn-primary" onclick="javascript:window.location.reload(true)">Refresh</a>
  </div>
</div>

<script type="text/javascript">
    setTimeout(function(){ location.reload(); }, 3000);
</script>